body{
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #f4f6fa;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.content2{
    max-width: 810.667px;
    min-height: 112px;
    font-size: 1rem;
    line-height: 1.75;
    color: #374151;
}
.sub-container h2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
@media only screen and (min-width:640px){
    .sub_contents1{
        text-align: left;
    }
}

.sub_session1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* .sub_contents1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
.sub_contents1 p{
    max-width: 650px;
    min-height: 56px;
    font-size: 1rem;
    line-height: 1.75;
}
.sub_contents1 h3{
    font-size: 1.125rem;
    font-weight: 600;
}
.sub_contents1{
    margin-left: 2rem;
}
.sub_session1 img{
    width: 80px;
    height: 80px;
}
.sub_session2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sub_contents2 p{
    max-width: 650px;
    min-height: 84px;
    font-size: 1rem;
    line-height: 1.75;
}
.sub_contents2{
    margin-left: 2rem;
}
.sub_session3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sub_contents3 p{
    max-width: 650px;
    min-height: 84px;
    font-size: 1rem;
    line-height: 1.75;
}
.sub_contents3{
    margin-left: 2rem;
}
.sub_session4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sub_contents4 p{
    max-width: 650px;
    min-height: 56px;
    font-size: 1rem;
    line-height: 1.75;
}
.sub_contents4{
    margin-left: 2rem;
}

/*-----Overview Section----*/
.overview h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.first_sesion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.learners{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 584px;
    min-height: 20px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: bisque;
}
.second_session{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.origin{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    min-height: 514px;
    border: 2px solid black;
    border-radius: 20px;
}
.origin_first_para{
    max-width: 736px;
    min-height: 84px;
}
.origin_second_para{
    max-width: 736px;
    min-height: 112px;
}
.open_source{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    max-width: 384px;
    min-height: 514px;
    border: 2px solid black;
    border-radius: 20px;
}
.open_first_para{
    max-width: 320px;
    min-height: 96px;
}
.open_second_para{
    max-width: 320px;
    min-height: 168px;
}
.para_session{
    line-height: 1.75;
    margin: 1rem;
}
p{
    color: #6b7280;
    font: 1rem;
}



/*------Second Last Section-----*/

.second_last_session{
    background-color: #f9fafb;
}
.imagefield img{
    width: 398px;
    height: 288px;
}
.contentfield{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.first_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.contentfield p{
    max-width: 420px;
    min-height: 44px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.last_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.sub_session p{
    max-width: 641.52px;
    min-height: 49px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.second_last_contents{
    padding-top: 5rem;
}
.btn_field{
    padding-bottom: 5rem;
}
button{
    color: white;
    background-color: #0f766e;
}




/*-----------last section-----*/


.list1{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2rem;
    /* padding-top: 3rem; */
}
.list2{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 4rem;
    padding-top: 3.25rem;
}
.list3{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5rem;
    padding-top: 1.75rem;
}
.list4{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5rem;
}
.list5{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5rem;
}
.last_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.list1_content_section p{
    max-width: 351.14px;
    min-height: 41px;
}
.list1_icons a{
    text-decoration: none;
    color: black;
}
.list1_icons a:hover{
    color: blue;
}
.list1_content_section{
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: 2rem;
}
.list2 a{
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    line-height: 1.75rem
}
.list3 a{
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    line-height: 1.75rem
}
.list4 a{
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    line-height: 1.75rem
}
.list5 a{
    text-decoration: none;
    color: black;
    font-size: 1.125rem;
    line-height: 1.75rem
}
.last_section{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
