#headers h1{
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#headers h2{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#headers p{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.btnctr{
    display: flex;
    align-items: center;
    justify-content: center;
}
#img1 img{
    /* width: 1190px;
    height: 437.16px; */
    max-width: 100%;
}
/* #main{
    height: 550px;
} */

.text-gold{
    color: goldenrod;
}
.text_center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-wrap: wrap; */
    
}
.text_center p{
    width: 768px;
    height: 84px;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.para{
    text-align: center;
}
.para p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 287px;
    height: 33px;
}
.lbc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
       
}
.lbc1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lbc2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lbc3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lbc1 img{
    width: 106.66px;
    height: 160px;
}
.lbc2 img{
    width: 206.44px;
    height: 160px;
}
.lbc3 img{
    width: 174.86px;
    height: 160px;
}

#gray{
    background-color: #f3f4f6;
}
#learnn{
    margin-top: 80px;
}
#learnn h2{
    text-align: center;
    /* font-weight: 400;
    width: 287.33px;
    height: 28px;
    margin-top: 2rem;
    margin-bottom: 1rem; */
}

.linkk img{
    width: 144px;
    height: 160px;
}
.linkk{
    width: 224px;
    height: 308px;
    /* background-color: #fff; */
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    
    
    
    /* background-color: whitesmoke; */
}
.linkk a{
    text-decoration: none;
}
.text-semibold{
    width: 144px;
    height: 84px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1rem;
    font-weight: 600;
    text-align: center;
    color: rgb(143, 140, 140);
}
.linkk{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.links1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.links2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.links3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.explore{
    text-align: center;
    line-height: 1.5rem;
    
}
.explore a{
    text-decoration: none;
    color: gray;
   
    
}
.button--secondary{
    
    border: 1px solid grey;
    border-radius: 0.5rem;
    background-color: #fff;
    
}

/*--------Success Story Section----*/
.fbbk_img img{
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}
.stories{
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.txt_cntr{
    text-align: center;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.feedback_sec-lg-4tion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.feedback1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.feedback2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.feedback{
    display: flex;
    flex-direction: row;
    width: 608px;
    height: 144px;
    flex-wrap: wrap;
}
.content{
    margin-inline-start: 10px;
    
}
.content a{
    
    color: grey;
}
.content a:hover{
    text-decoration: none;
}
.read_more{
    text-align: center;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: 1rem;
}
.read_more a{
    color: rgb(189, 184, 184);
}
/* .list_section{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.mylistss{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.support_us{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.icons_section p {
    width: 384px;
    height: 48px;
    text-align: center;
} 
#about a{
   text-decoration: none;
   color: grey;
    
    
} 
.support{
    display: flex;
    flex-direction: column;
}
.guide{
    display: flex;
    flex-direction: column;
}
.legal{
    display: flex;
    flex-direction: column;
} 
.mylistss a{
    text-decoration: none;
    color: black;
}
.sprt_para{
    width: 512px;
    height: 40px;
    text-align: center;
    line-height: 1.3rem;
}
#footr{
    border: 2px  solid grey;
    width: 100%;
}
#iconss a{
    text-decoration: none;
    color: black;
}
#iconss a:hover{
    color: rgb(36, 117, 174)
}
#discord img{
    width: 14.86px;
    height: 16px;
}
.row-margin-05{
    margin-top: 3rem;
}
/* width: 247.5px;
    height: 139px; */
